@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="row">
            <div class="form1-inside">
                <div>
                    <h1 id="form1">WELCOME HOME</h1>
                    <p></p>
                    <h3 id="form1">Rent unique places to stay</h3>
                    <p></p>
                    <button type="submit" class="btn btn-default" id="botun2">How it works</button>

                </div>
              </div>
           
                <div class="col-md-12 bgimage">
                    <div class="bgimage-inside">
                        <form class="navbar-form" id="form2">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Where do you want to go?">
                                <input type="text" class="form-control" placeholder="Check in?">
                                <input type="text" class="form-control" placeholder="Check out?">
                                <input type="text" class="form-control" placeholder="No of guests?">
                                <button type="submit" class="btn btn-default" id="botun3">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
